.color-box {
    width: 40px;
    height: 40px;
    margin-top: 5px;
}

.primaryImage {
    width: 400px;
    height: 400px;
}

.element {
    width: 600px;
    height: 200px;
    border: 20px black;
}